@page "/createcategory"
@inject ICategoryService CategoryService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Viewer")]

<EditForm Model="Category" OnValidSubmit="Create" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Category Name:</label>
        <div class="col-md-10">
            <InputText id="email" class="form-control" @bind-Value="Category.Name" />
            <ValidationMessage For="@(() => Category.Name)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Category Url:</label>
        <div class="col-md-10">
            <InputText type="text" id="password" class="form-control" @bind-Value="Category.Url" />
            <ValidationMessage For="@(() => Category.Url)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="confirm" class="col-md-2 col-form-label">Category Icon:</label>
        <div class="col-md-10">
            <InputText type="text" id="confirm" class="form-control" @bind-Value="Category.Icon" />
            <ValidationMessage For="@(() => Category.Icon)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">ADD</button>
        </div>
    </div>
</EditForm>

@code {
    private Category Category = new Category();

    private async Task Create()
    {
        await CategoryService.CreateCategory(Category);
    }
}
