@page "/"
@page "/index"
@page "/{categoryurl}"
@using BlazorProducts.Client.Components
@inject ICategoryService CategoryService
@inject IProductService ProductService

@if (category != null)
{
<ProductList />

 }
else
{
<h1>Welcome to Intelvia Store </h1>
 <ProductList />

}


@code
{ [Parameter]
    public string CategoryUrl { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {

       await ProductService.LoadProductsAsync(CategoryUrl);

        if (CategoryUrl != null)
        {
            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));
        }
        else
        {
            category = null;
        }

    } }